<style>
    .contenido{
        /*border: solid;*/
        margin: auto;
        width: 100%;
        box-sizing: border-box;
    }
    .nuevo{
        /*border: solid red 1px;*/
        font-size: 30px;
        display: flex;
        margin-top: 1%;
    }
    .lineas1new{
        border-top: 0.15cm #95C11F solid ;
        width: 5%;
        display: inline-block;
    }
    .newradic{
        /*border: solid blue 1px;*/
        margin: auto;
        width: 50%;
    }
    .lineas2new{
        border-top: 0.15cm #95C11F solid ;
        width: 5%;
        display: inline-block;
    }
    .tittleradica{
        font-family:kenyan;
        font-size:60px;
        text-align: center;
        margin-top:0;
        margin-bottom: 0;
    }
    .inputouput{
        /*border: solid red 1px;*/
        display: flex;
    }
    .nuevodocumento{
        /*border: solid blue 1px;*/
        cursor: pointer;
        width: 50%;
        height: 70vh;
        position: relative;
    }
    .entrada:hover{
        transform: scale(1.1 , 1.1);
    }
    .fixedimages{
        border: solid black 1px;
        margin: auto;
    }
    .imgnuevo{
        height: 90%;
        margin-left:17%;
    }
    .entrada{
        position: relative;
        /*border: solid green 1px;*/
        margin: auto;
        top: 10%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 30vw;
        height: 50vh;
    }

    .btnentrada{
        bottom: 0;
        /*border: solid black;*/

    }
    .txtentrada{
        width: 60%;
        background-color: #95C11F;
        font-size: 35px;
        text-align: center;
        color: white;
        border-radius: 10px;
        /*padding-top: 1%;*/
        /*padding-left: 1%;*/
        /*padding-bottom: 1%;*/
        /*padding-right: 1%;*/
        margin: auto;
    }
    .contimgentra{
        /*border: solid aqua 1px;*/
        height: 35vh;
    }

    .modal{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.85);
        /*DRY don't repeat yourself*/
        /*GL good luck*/
        /*hf have fun*/
        /*nd nice day*/
        /*gg Good Game*/
        /*API*/
        /*izi easy*/
        /*lol*/
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .hoja{
        background-image: url("img/caja_hoja.png");
        background-repeat: no-repeat;
        background-size: 75%;
        margin: auto;
        margin-left:35%;
        width: 40%;
        height: 94%;
        margin-top: 2%;
        position: relative;
        border: solid red 1px;
    }
    .imghoja{
        position: relative;
        height: 95%;
        top: 2vh;
        left: 13%;
    }
    .conthoja{
        position: relative;
        margin-top:0%;
        width: 75%;
        /*border: solid blue 1px;*/
    }
    .tituloactanueva{
        border-bottom: #95C11F solid;
        width: 45%;
        margin-left: 6%;
        margin-top: 10%;
        margin-bottom: 4%;
    }
    .t1{
        font-size: 2.5vw;
        margin: 0;
        font-family:kenyan;
    }
    .t2{
        font-size: 4.8vw;
        margin: 0;
        margin-top:-6%;
        font-family:kenyan;
    }
    .formulario{
        /*border: solid black 1px;*/
        width: 86%;
        margin-left: 7%;
        margin-top: 2%;
    }
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(img/desplegar_verde.png) no-repeat right #ddd;
        background-size: 20px;
        background-position: 95%;
        background-color: white;
        border: none;
        font-size: 1.4vw;
        color: #6f6f6f;
        text-align-last:center;
        font-family: kenyan;
        height: 5vh;
        width: 100%;
    }
    .typedoc{
        width: 54%;
        -webkit-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        display: inline-block;
        margin-bottom:3%;
    }
    .name{
        margin-bottom:3%;
    }
    .nit{
        margin-bottom: 3%;
        display: inline-block;
        width: 40%;
    }
    .dire{
        margin-bottom: 3%;
        display: inline-block;
        width: 58%;
    }
    .asun{
        margin-bottom:3%;
    }


    .inname{
        height: 4vh;
        width: 95%;
        outline: 0;
        border: none;
        font-size: 1.4vw;
        padding-left:5%;
        -webkit-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
    }

    .innit{
        height: 4vh;
        width: 80%;
        outline: 0;
        border: none;
        font-size: 1.4vw;
        padding-left:12%;
        -webkit-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
    }

    .indirec{
        height: 4vh;
        width: 94%;
        outline: 0;
        border: none;
        font-size: 1.4vw;
        padding-left:9.5%;
        -webkit-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
    }

    .otrainfo{
        width: 100%;
        -webkit-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        display: inline-block;
        margin-bottom:3%;
    }

    .boxfecha{
        width: 40%;
        margin-left: 5%;
        -webkit-box-shadow: 14px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 14px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 14px 13px 0px -10px rgba(0,0,0,0.25);
        display: inline-block;
    }
    .introfecha{
        border: none;
        font-size: 1.4vw;
        text-align: center;
        height: 5vh;
        width: 100%;
        outline: 0;
    }
    .radicar{
        font-size: 1.4vw;
        color: #c6c6c5;
        margin-bottom: 2%;
    }
    .boximgs{

    }
    .scanner{
        bottom:0;
        right: 40%;
        width: 25%;
        position: absolute;
    }
    .impresora{
        top: 0;
        right: 5%;
        width: 21%;
        position: absolute;
    }
    .b1{
        display: inline-block;
        width: 55%;
        height: 4.2vh;
        position: relative;
    }
    .b2{
        display: inline-block;
        width: 42%;
        margin-left: 2%;
        border-radius: 5px;
        background-color: #3c3c3b;
        vertical-align: top;
    }
    .btnradica{
        text-align: center;
        color: white;
        font-size: 1.4vw;
        margin-bottom: 3%;
        margin-top: 3%;
        cursor: pointer;
    }
    .btnimpri{
        width: 20%;
        margin-left: 40%;
        border-radius: 5px;
        margin-top: 2.5%;
        background-color: #9C9C9C;
        cursor: pointer;
    }
    .impri{
        text-align: center;
        margin-bottom: 1%;
        font-size:1.5vh;
        color: white;
    }


</style>

<div class="modal"  ng-show="entrada == true" ng-init="entrada = true ">
    <!--<div style="position: absolute; width: 100%; height: 100%" class="x" ng-click="entrada=false"> hola</div>-->
    <!--<div style="width: 400px;height: 400px;background-color: #fff;" ng-click="entrada = false"></div>-->
    <div class="hoja">
        <div class="conthoja">
            <div class="tituloactanueva">
                <p class="t1">Radicado de</p>
                <p class="t2">Entrada</p>
            </div>
            <div class="formulario">

                <div class="typedoc">
                    <select style=" outline: 0;">
                        <option disabled selected>Tipo de Documento</option>
                        <option >Saab</option>
                        <option >Mercedes</option>
                        <option >Audi</option>
                    </select>
                </div>

                <div class="boxfecha">
                    <input type="date" class="introfecha">
                </div>

                <div class="typedoc">
                    <select style=" outline: 0;">
                        <option disabled selected>Tipo de Documento</option>
                        <option >Saab</option>
                        <option >Mercedes</option>
                        <option >Audi</option>
                    </select>
                </div>

                <div class="boxfecha">
                    <input type="time" placeholder="Hora" class="introfecha" >
                </div>

                <div class="radicar">
                    <label >Radicar documentos en bloque</label>
                    <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-1" style="display: inline-block; margin-left:28%" ></label>
                </div>

                <div class="otrainfo">
                    <select style=" outline: 0;">
                        <option disabled selected>Empresa que Radica</option>
                        <option >Saab</option>
                        <option >Mercedes</option>
                        <option >Audi</option>
                    </select>
                </div>

                <div class="otrainfo">
                    <select style=" outline: 0;">
                        <option disabled selected>Responsable</option>
                        <option >Saab</option>
                        <option >Mercedes</option>
                        <option >Audi</option>
                    </select>
                </div>

                <div class="otrainfo">
                    <select style=" outline: 0;">
                        <option disabled selected>Proveedor</option>
                        <option >Saab</option>
                        <option >Mercedes</option>
                        <option >Audi</option>
                    </select>
                </div>

                <div class="name">
                    <input type="text" placeholder="Nombre..." class="inname">
                </div>

                <div class="nit">
                    <input type="text" placeholder="Nit..." class="innit">
                </div><!--

             --><div class="dire">
                    <input type="text" placeholder="Dirección.." class="indirec">
                </div>

                <div class="asun">
                    <input type="text" placeholder="Asunto" class="inname">
                </div>

                <div class="nit">
                    <input type="text" placeholder="Medio Recepción..." class="innit">
                </div><!--

             --><div class="dire">
                <input type="text" placeholder="Guia..." class="indirec">
                </div>

                <div class="boximgs">
                    <div class="b1">
                        <img src="img/scanner.png" class="scanner">
                        <img src="img/impresora.png" class="impresora">
                    </div>
                    <div class="b2">
                        <p class="btnradica">Radicar</p>
                    </div>
                </div>

                <div class="btnimpri">
                    <p class="impri">Imprimir</p>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="contenido">
    <div class="nuevo">
        <div class="lineas1new"></div>
        <div class="newradic"> <p class="tittleradica">Nuevos Radicados </p></div>
        <div class="lineas2new"></div>
    </div>

    <div class="inputouput" >
        <div class="nuevodocumento">
            <div class="entrada" ng-click="entrada=true">
                <div class="contimgentra"><img src="img/entrada.png" class="imgnuevo"></div>
                <div class="btnentrada"><p class="txtentrada">Entrada</p></div>
            </div>
        </div>

        <div class="nuevodocumento">
            <div class="entrada">
                <div class="contimgentra"><img src="img/salida.png" class="imgnuevo"></div>
                <div class="btnentrada"><p class="txtentrada">Salida</p></div>
            </div>
        </div>
        <!--<div class="salidadocumento">-->
        <!--<div class="fixedimages">-->
        <!--<img src="img/salida.png" class="imgsalida">-->
        <!--<div class="salida">-->
        <!--<label>Salida</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>