<meta charset="utf-8">
<link rel="navbar" href="navbar.html">
<link rel="stylesheet" href="stylesheet/style.css">

<style>
    .modalnuevo{
        position: fixed;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
    .fondo{
        background-image: url("img/caja_hoja.png");
        background-size: 100% 98%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        margin-left: 40%;
        margin-top: 1vh;
        position: absolute;
    }
    .tituloactanueva{
        margin-top: 15%;
        margin-left: 6%;
        border-bottom: #95C11F solid;
        width: 43%;
    }
    /*input{*/
    /*border: none;*/
    /*height: 45px;*/
    /*font-size: 20px;*/
    /*color: #c6c6c5;*/
    /*margin-top: 1%;*/
    /*padding-left:15px;*/
    /*}*/

    form{
        margin-left: 3%;
        margin-top: 0%;
        overflow-x: hidden;
    }
    .act{
        font-size: 10vh;
    }
    .formulario
    {
        width: 100%;
        margin-top: 11vh;
        margin-left: 3%;
    }
    input{
        margin-top: 3%;
        font-size: 2vh;
        height: 4vh;
        border: none;
        padding-left: 1vw;
        -webkit-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
    }
    select{
        margin-top: 3%;
        font-family: kenyan;
        color: #9C9C9C;
        font-size: 2vh;
        height: 4vh;
        background: url("img/desplegar_verde.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border: none;
        -webkit-appearance: none;
        background-position-x: 97%;
        background-position-y: 10px;
        background-color: white;
        padding-right: 5px;
        padding-left: 15px;
        -webkit-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
    }
    .titulos{
        margin-left: 7%;
    }
    .submit{
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        font-size: 3vh;
    }
    .asunto{
        width: 100%;
    }
    .dependencia{
        width: 90%;
    }
    .cometarios{
        margin-top: 3%;
        width: 27vw;
        height: 15vh;
        max-height: 15vh;
        max-width: 27vw;
        -webkit-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        box-shadow: 13px 13px 0px -10px rgba(0,0,0,0.25);
        border: none;
        padding-left: 15px;
        font-family: kenyan;
        padding-top: 10px;
        font-size: 2vh;
    }
    .numerosolicitud{
        width: 10vw;
        height: 8.9vh;
        text-align: center;
    }
    .radicarentrada{
        float: right;
        margin-right: 7%;
        border-top: #95C11F solid;
        color:#95C11F;
        font-size: 30px;
        margin-bottom: 0%;
    }
    .radicarentrada:hover{
        color: #c6c6c5 !important;
        border-color: #c6c6c5 !important;
    }
</style>

<div class="contenidocentral">
    <div class="busqueda">
        <div class="lineas1"></div>
        <label class="tituloss"> Solicitud </label>
        <div class="lineas2"></div>
    </div>

    <div style="color: #95C11F; margin-top: 2%; font-size: 25px">
        <label class="titulos">Número de Radicado</label>
        <label class="titulos">Asunto</label>
        <label class="titulos">Tipo de Documento</label><img src="img/desplegar_gris.png" class="iconoflecha">
        <label class="titulos">Dependencia</label>
        <label class="titulos">Estado</label>

    </div>
    <div class="cuadros"></div>
    <div class="cuadros"></div>
    <div class="cuadros"></div>
    <div class="cuadros"></div>
    <div class="cuadros"></div>
    <div class="cuadros"></div>
</div>
<div class="radicarentrada" ng-click="entrada=true">
    <label>HACER SOLICITUD</label>
</div>

<div class="modalnuevo" ng-show="entrada == true">

<div class="modalnuevo" style="display: block">

    <div style="position: absolute; width: 100%; height: 100%" class="x" ng-click="entrada=false"></div>
    <div class="fondo" style="width: 31.5%" >

        <div class="tituloactanueva">
            <label class="act">Solicitud</label>
        </div>
        <div class="formulario">
            <form ng-submit="uploadPic2(adjunto)">
                <div>
                    <div style="display: inline-block; width: 16vw">
                    <select ng-model="Asuntosolicitud" class="asunto">
                        <option value="">Asunto</option>
                    </select>

                    <select ng-model="tiposolicitud" class="asunto">
                        <option value="">Tipo de Documento</option>
                    </select>
                    </div>

                    <div style="display: inline-block; vertical-align: top;margin-left: 2%">
                        <input placeholder="Numero de Radicado" class="numerosolicitud">
                    </div>
                </div>

                <select ng-model="tiposolicitud" class="dependencia">
                    <option value="">Dependencia</option>
                </select>

                <textarea class="cometarios" placeholder="Comentario"></textarea>
                <input type="submit" value="ENVIAR" class="submit">
            </form>

        </div>

    </div>
</div>
</div>
